@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: rgb(148, 147, 147);
  color: white;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

a {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-weight: 300;
}

p {
  text-align: center;
  font-size: 25px;
  font-family: "Bree Serif", serif;
}

#menu {
  display: flex;
  position: relative;
  margin: auto;
}

p.test {
  text-align: center;
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
}

li {
  color: white;
  display: block;
  padding: 25px;
}
li:first-child {
  margin-right: auto;
}

td {
  width: 40%;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Bree Serif", serif;
  font-size: 20px;
}

.capaFundo {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#640370ba, #2bb3f1cc),
    url(https://storage.googleapis.com/pyre-site/uploads/post/cover/1780/4d9960d5b0.png)
      no-repeat top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fotoPerfil {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.295) 3px 3px 5px 5px;
}

.textoCapa {
  color: white;
  font-family: "Bree Serif", serif;
  margin: 0px;
}

.textoCapa2 {
  margin: 0px;
  color: white;
  font-family: "Bree Serif", serif;
  font-size: 30px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 30px;
}

.btnGit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #630370a2, #2e31f39f);
  color: white;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.btnGit:hover {
  background: linear-gradient(90deg, #630370f1, #2e31f3e3);
  transition: all 1s;
}

.githIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sobre {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 60%;
  max-width: 2000px;
  align-content: center;
  margin: 0 auto;
  padding: 40px;
}

/*email form*/

.emailForm {
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 50px;
}
label {
  width: 40%;
  margin-left: 30%;
}

input[type="text"] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  border-radius: 20px;
  margin-left: 30%;
  background-color: rgba(5, 5, 5, 0.233);
  box-sizing: border-box;
}

input[type="text"]:focus {
  background-color: rgba(5, 5, 5, 0.233);
  outline: none;
}

.sendBtn {
  background: linear-gradient(90deg, #630370a2, #2e31f3);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 30px;
}

.sendBtn:hover {
  opacity: 1;
}

.msg {
  border-radius: 20px;
  background-color: rgba(5, 5, 5, 0.233);
  display: block;
  width: 40%;
  height: 200px;
  margin-left: 30%;
  border: none;
  max-width: 40%;
  min-width: 40%;
  max-height: 300px;
  min-height: 150px;
  margin-top: 8px;
  box-sizing: border-box;
  color: white;
}

input {
  color: white;
}

/*projetos*/

.topico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 150px;
  text-align: center;
  color: white;
  background-color: rgb(26, 24, 24);
  font-family: "Bree Serif", serif;
  font-size: 20px;
  width: 100%;
}

.projetosBg {
  background: linear-gradient(#630370f1, #2bb2f1e3),
    url(./img/background.jpg) top center;
  width: 100%;
  margin: 0;
  /* display: block; */
  text-align: left;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.imgContainer {
  width: 30%;
}

.imgProjetos {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.295) 3px 3px 5px 5px;
}

.imgProjetos2 {
  max-width: 250px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 15px;
}

.projetos {
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.295);
  box-shadow: rgba(0, 0, 0, 0.295) 3px 3px 5px 5px;
  padding: 20px 30px;
  width: 64%;
}

.titleProjetos {
  text-align: left;
  font-size: 32px;
  font-family: "Bree Serif", serif;
  margin-top: 0px;
}

/* .textProjetos {
  } */

.textProjetos p {
  font-size: 20px;
  text-align: left;
  margin: 5px 0px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.btnLink {
  text-decoration: none;
  cursor: pointer;
  padding: 13px 25px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  color: white;
  background-color: rgba(26, 24, 24, 0.582);
  margin-right: 15px;
}

.btnLink:hover {
  text-decoration: none;
  background-color: rgb(26, 24, 24);
}

.codeIcon {
  width: 35px;
  height: 35px;
  position: absolute;
}

@media (max-width: 1024px) {
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    background-color: rgb(148, 147, 147);
    color: white;
    text-align: center;
    font-weight: 300;
    margin: 0;
  }

  h1,
  h2 {
    font-weight: 300;
  }

  p {
    text-align: center;
    font-size: 25px;
    font-family: "Bree Serif", serif;
  }

  #menu {
    display: flex;
    position: relative;
    margin: auto;
  }

  p.test {
    text-align: center;
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
  }

  li {
    color: white;
    display: block;
    padding: 25px;
  }
  li:first-child {
    margin-right: auto;
  }

  td {
    width: 40%;
  }

  html {
    scroll-behavior: smooth;
  }

  img {
    width: 480px;
    height: 270px;
    padding: 10px;
  }

  h2 {
    font-family: "Bree Serif", serif;
    font-size: 20px;
  }

  .fotoPerfil {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    top: 160px;
  }

  .textoCapa {
    color: white;
    font-family: "Bree Serif", serif;
    position: relative;
    top: 170px;
    height: 250px;
    width: 310px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 40px;
  }

  .textoCapa2 {
    color: white;
    font-family: "Bree Serif", serif;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    width: 310px;
  }
  .capaFundo {
    margin: 0;
    padding: 0;
    width: auto;
    height: 860px;
    max-height: 1000px;
    margin-top: auto;
    background: linear-gradient(#640370ba, #2bb3f1cc),
      url(https://storage.googleapis.com/pyre-site/uploads/post/cover/1780/4d9960d5b0.png)
        no-repeat top center;
  }

  .topico {
    height: 150px;
    text-align: center;
    color: white;
    background-color: rgb(26, 24, 24);
    vertical-align: middle;
    line-height: 100px;
    font-family: "Bree Serif", serif;
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
  }

  .topico h {
    font-size: 30px;
  }

  .projetosBg {
    background: linear-gradient(#630370f1, #2bb2f1e3),
      url(./img/background.jpg) center;
    width: 100%;
    margin: 0;
    display: block;
    text-align: left;
  }

  .btnGit {
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    display: block;
    margin: auto;
    width: 320px;
    top: 130px;
    left: 10px;
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .btnGit2 {
    display: block;
    padding: 20px 20px;
    background: linear-gradient(90deg, #630370a2, #2e31f39f);
    color: white;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    width: 100px;
  }

  .btnGit2:hover {
    background: linear-gradient(90deg, #630370f1, #2e31f3e3);
  }

  .mudImg {
    width: 280px;
    height: 510px;
    margin-left: 80px;
  }
  .mudImg2 {
    width: 280px;
    height: 510px;
    margin-left: 180px;
  }

  .githIcon {
    margin-left: -72px;
    margin-top: -55px;
    width: 35px;
    height: 35px;
    position: absolute;
  }

  .sobre {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .emailForm {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  label {
    width: 80%;
    margin-left: 10%;
  }

  input[type="text"] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(5, 5, 5, 0.233);
    box-sizing: border-box;
  }

  input[type="text"]:focus {
    background-color: rgba(5, 5, 5, 0.233);
    outline: none;
  }

  .sendBtn {
    background: linear-gradient(90deg, #630370a2, #2e31f3);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: 30px;
  }

  .sendBtn:hover {
    opacity: 1;
  }

  .msg {
    border-radius: 20px;
    background-color: rgba(5, 5, 5, 0.233);
    display: block;
    height: 200px;
    border: none;
    max-width: 80%;
    min-width: 40%;
    max-height: 300px;
    min-height: 150px;
    margin-top: 8px;
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    color: white;
  }

  input {
    color: white;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .flex-container > div {
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    flex-direction: row;
    width: 80%;
    height: auto;
  }

  .projetos {
    color: white;
    left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    max-height: 550px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.295);
  }

  .imgProjetos {
    max-width: 280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 15px;
  }

  .imgProjetos2 {
    max-width: 250px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 15px;
  }

  .titleProjetos {
    text-align: left;
    font-size: 32px;
    margin-left: 30px;
    font-family: "Bree Serif", serif;
  }

  .textProjetos {
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
  }

  .btnCode {
    appearance: none;
    border: none;
    cursor: pointer;
    width: 110px;
    position: relative;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    left: -6.4%;
    bottom: 15%;
    margin-left: 20px;
    top: -30px;
    color: white;
    background-color: rgba(26, 24, 24, 0.582);
  }

  .btnCode:hover {
    background-color: rgb(26, 24, 24);
  }

  .codeIcon {
    width: 35px;
    height: 35px;
    position: absolute;
  }
}
